<div class="container">


<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<p>Testing to make sure Bootstrap is working!!!</p>
<hr>

<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown
  </button>
  <ul class="dropdown-menu">
    <li><button class="dropdown-item" type="button">Dropdown item</button></li>
    <li><button class="dropdown-item" type="button">Dropdown item</button></li>
    <li><button class="dropdown-item" type="button">Dropdown item</button></li>
  </ul>
</div>

  <!-- Content here -->
</div>
